.userlist__info-form {
  &__field {
    margin-bottom: 25px;

    &__label {
      display: block;
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 8.75px;
    }

    &__input.textfield {
      @include smoothen-input-borders();

      width: 87.5%;
      padding: 7.5px 0 8.75px;
    }

    &__input.textarea {
      width: 100%;
      height: 8rem;
      font-size: 1.6rem;
      padding: 1rem 1.25rem;
    }
  }
}

.userlist__select {
  &__label {
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 50px 0 20px;
  }

  &__dropdown {
    width: 50%;
    cursor: pointer;
    padding: 5px 0;
  }
}

.userlist__selected-info {
  margin: 75px 0 100px;

  &__name {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 50px;
  }

  &__bio {
    max-width: 325px;
    margin: 0 auto;

    &__label {
      display: block;
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
}
